/* 1. 프리텐다드 웹폰트 CDN */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "tailwindcss";
@import "@nuxt/ui";
@import '~/assets/css/base/primitive.css';
@import '~/assets/css/base/semantic.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-surface-canvas);
  color: var(--color-text-strong);
}

@theme static {
  --font-sans: var(--font-family-sans);
}
