.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  user-select: none;

  &.is-collapsed {
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.sidebar-logo__icon {
  color: var(--sidebar-text);
  flex-shrink: 0;
}

.sidebar-logo__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--sidebar-text);
}
